* {
  margin: 0;
  padding: 0;
}
h1 {
  color: aqua;
  margin-bottom: 50px;
}
body {
  text-align: center;
  background-color: black;
}
.main {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  height: 60vmin;
  width: 60vmin;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.but {
  background-color: #7494ea;
  height: 18vmin;
  width: 18vmin;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: aqua;
  cursor: not-allowed;
}
.msg {
  height: 4vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 20px;
}
.hide {
  display: none;
}
.win {
  color: #fffc7f;
  font-size: 4vmin;
}
.game-mode {
  margin-bottom: 20px;
}
.mode {
  background-color: aqua;
  color:black;
  height: 40px;
  width: 100px;
  border-radius: 8%;
  margin: 0 10px;
  cursor: pointer;
}
